#body-style {}

.nav-container {
    display: flex;
    flex-direction: row;
}

.nav-icon-container {
    width: 50%;
    padding-left: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#nav-icon {
    width: 86px;
    height: 40px;

}

#icon-name {

    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

#icon-name-first-letter {
    color: #FF42A5;
}

.nav-items-container {
    width: 50%;
    padding-left: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.nav-link {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
    margin-right: 20px;

}


#nav-item-button {
    border-radius: 8px;
    background-color: lightgray;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 10px;

}

.nav-social {
    margin-left: 12px;
    margin-right: 12px;

}

.main-div-container {

    width: 50%;
    background-image: url('../images/zigzag-background.png');
    background-color: #FFFFFF;

}

.main-div-container-image {
    width: 50%;
    height: 100%;
    padding-right: 240px;
}



.main-section-container {
    height: 850px;
    display: flex;
    flex-direction: row;
    justify-content: start;

}

#kids-image {
    width: 100%;
    height: 100%;
}


#play-like {
    margin: 0px;
    margin-left: 240px;
    margin-top: 150px;
    height: 56px;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

}

#goat {
    margin: 0px;
    margin-left: 240px;
    margin-bottom: 24px;
    height: 111px;
    color: #FF42A5;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.common-text-main {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

.main-small-div-buttons {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 240px;
}

.main-small-div-buttons button {
    height: 50px;
    width: 160px;
    padding: 10px;
    align-items: center;
    margin-right: 24px;
    border-radius: 31px;
    border-color: #FF42A5;
    background: #FF42A5;

    color: #FFF;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.instantplay-div {
    margin: 0px;
    width: 320px;
    row-gap: 14px;
    margin-left: 240px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.instantplay-div-item {
    display: flex;
    flex-direction: row;
    align-items: center;

}


.we-are-gamer {
    /* border: 2px solid tomato; */

    margin-top: 95px;
    display: flex;
    flex-direction: row;
}

.we-are-gamer-col1 {
    width: 70%;
    padding-left: 240px;
}

.we-are-gamer-col2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 240px;
}

.common-image {
    width: 100%;
    height: 100%;
}

#goat-similar {
    margin: 0px;
    margin-bottom: 24px;

    color: #FF42A5;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#we-are-gamer-p {
    margin: 0px;
    margin-bottom: 32px;

    text-align: right;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#we-are-gamer-button {
    margin: 0px;
    margin-bottom: 24px;

    height: 50px;
    width: 160px;
    padding: 10px;
    align-items: center;
    border-radius: 31px;
    border-color: #FF42A5;
    background: #FF42A5;

    color: #FFF;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

#we-are-gamer-another-p {
    margin: 0px;

    text-align: right;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#we-are-gamer-h4 {
    margin: 0px;

    text-align: right;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
}

.funny-section {
    /* border: 2px solid tomato; */

    margin: 0px;
    margin-top: 120px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.funny-section>h2 {
    /* border: 2px solid tomato; */

    margin: 0px;
    color: black;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.funny-section>p {
    /* border: 2px solid tomato; */
    margin: 0px;

    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#funny-video {
    /* border: 2px solid tomato; */
    margin: 0px;

    color: #FF42A5;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funny-section-images {
    /* border: 2px solid tomato; */
    margin: 0px;
    padding-left: 240px;
    padding-right: 240px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 14px;
}

.funny-divs {
    /* border: 2px solid tomato; */
    display: grid;
    grid-template-rows: 4fr 1fr;
    row-gap: 24px;
}

.funny-divs>img {
    /* border: 2px solid tomato; */

}

.funny-divs>h5 {
    /* border: 2px solid tomato; */
    margin: 0px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.play-instant {
    /* border: 2px solid tomato; */
    margin: 0px;
    margin-top: 120px;
    height: 750px;
    padding-left: 240px;
    padding-right: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.play-instant-col1 {
    /* border: 2px solid tomato; */
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 120px;

}

.play-instant-col1>h2 {
    /* border: 2px solid tomato; */
    margin: 0px;
    margin-bottom: 24px;

    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: right;


}

.play-instant-col1>h3 {
    /* border: 2px solid tomato; */
    margin: 0px;
    margin-bottom: 24px;
    color: #FF42A5;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instant-col1>p {
    /* border: 2px solid tomato; */
    margin: 0px;

    width: 350px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.play-instant-col2 {
    /* border: 2px solid tomato; */
    position: relative;

}

#play-instant-img1 {
    position: absolute;
    width: 550px;
    height: 650px;
    left: 145px;

}

#play-instant-img2 {
    position: absolute;
    width: 320px;
    height: 360px;
    top: 350px;
}

.play-icon {
    border: 2px solid tomato;
    margin-top: 120px;
}

.play-icon-div1 {
    /* border: 2px solid tomato; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.play-icon-div2 {
    /* border: 2px solid tomato; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.play-icon-each {
    border: 3px solid transparent;
    margin: 0px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.play-icon-each:hover {
    margin-top: 20px;
    transition-property: border-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.play-icon-each>h6 {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.common-image-icon {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.footer {
    background-color: #0B0223;
}

#footer-name-first-letter {
    color: #FF42A5;
}

#footer-name-last-letter {
    color: white;
}

.footer-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-career {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-carrer-text {
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.footer-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-carrer-text-term{
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-carrer-text-last{
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    font-family: Work Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}