#body-style {
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.nav-icon-container {
    width: 50%;
    padding-left: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#nav-icon {
    width: 86px;
    height: 40px;

}

#icon-name {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

#icon-name-first-letter {
    color: #FF42A5;
}

.nav-items-container {
    width: 50%;
    padding-left: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.nav-link {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
    margin-right: 20px;

}


#nav-item-button{
    border-radius: 8px;
    background-color: lightgray;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 10px;

}

.nav-social {
    margin-left: 12px;
    margin-right: 12px;

}